.footer{
    background-color: $color-NF;
    overflow: hidden;
    min-height: 10vh;
    padding-top: 30px;

    &__Section{
        display: flex;
        flex-direction: row;
        font-size: 15px;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__Contenedor{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: space-around;
        padding-right: 10px;

        p{
            line-height: 1.5;
            color: #2e2c2c;
            font-size: 20px;
        }
    }

    &__Social{
        display: block;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;

        img{
            width: 45px;
            flex-direction: row;
            margin-left: 20px;
        }
    }
}