.main {
    &__img-Apadrina {
        width: 400px;
        height: 400px;
        margin-left: 50px;
        margin-right: 70px;
        transform: rotate(353deg);
        border: 4px solid $color-NF;
        border-radius: 15px;
    }

    /* Modal */
    .modal-header {
        background-color: $purpura;
    }

}

@media (max-width: 550px) {

    .main__img-Apadrina {
        width: 35vh;
        height: 35vh;
        transform: rotate(0deg);
        margin: 1rem;
    }
}