$verde-suave: #1dd3b0;
$fondo: #3C1642;
$purpura: #670367;
$verde-intenso: #AFFC41;
$gris: #6f6666;
$beige: #f8f9f7;
$color-boton: #3bdc23;
$azul: #11008e;
$color-check: #96e08a;
$color-NF: #AAF683;
$footer-letra: #2e2c2c;
